%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:fites, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:fites, :new)

.tabs-content
  = form_for :fite, url(:fites, :create), :class => 'form-horizontal' do |f|
    =partial 'fites/form', :locals => { :f => f }
